@import 'variables';

h1 {
    color: $red-color;
    background-color: white;
    padding: 12px;
}

.user-avatar {
    height: 40px;
    border-radius: 50%;
    width: 40px;
    margin-right: 8px;
}
