<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>học ngay</button>
        </div>
        <div class="col-lg-9">
            <h2>{{Course.name}}</h2>
            <iframe width="861" height="538" src="https://www.youtube.com/embed/{{Course.videoId}}" title="Học Redux và viết lại nó với 1 dòng code =))" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <span>{{Course.description}}</span>
        </div>
    </div>
</div>