<div class="mt-4">
    <form action="/profile">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tìm kiếm</label>
            <input type="text" class="form-control" name="q">
            <input type="text" class="form-control" name="fullname">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <button type="submit" class="btn btn-primary">tìm kiếm </button>
    </form>
</div>